<div id="header">
  <div id="logo">
    <a class="light" href="/weather_reports">
      <img src="/so-icon.png" width="80" height="80">Purple Weather<span class="bold">Weather</span>
    </a>
    <div class="nav mainnavs pull-right">
      <ul class="nav-buttons">
        <li class="active"><a href="/weather_reports/new">New Weather Report</a></li>
      </ul>
    </div>
  </div>
</div>