<h2>Hi <%= @user.first_name%>!</h2>
<h3>Need to update your account details?</h3>
<p>Please fill out the form below:</p>

<form method="post" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" value="put" />
  <div class="field">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" />
  </div>
  <div class="field">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" />
  </div>
  <div class="field">
    <input type="submit" value="Confirm"/>
  </div>
</form>