<table class="table table-hover">
  <thead>
  <tr>
    <th>Location</th>
    <th>Report</th>
  </tr>
</thead>
<tbody>
  <% @reports.each do |report| %>
  <tr>
    <td><%= report.current_location %></td>
    <td><%= report.report %></td>
  </tr>
  <% end %>
</tbody>
</table>