  <div id="new-report">
  <h2>Please enter your location</h2>
    <div class="row">
    <div class="col-md-6">
      <div class="input-group">
       <form method="post" action="/weather_reports">
        <input name="location" id="location" placeholder="city, state"></input>
      </div><!-- /input-group -->
    </div><!-- /.col-md-6 -->
  </div><!-- /.row --> 
  <button type="submit">Get Weather Report!</button>
  </form>
</div>

